@use 'GlobalVariables';

.auth-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;

    > h1{
        margin: 16px;
    }
}

@media only screen and (min-width: 600px){
    .auth-component{    
        > h1{
            font-size: 2rem;
            margin: 16px;
        }
    }
}

@media only screen and (max-height: 370px){
    .auth-component{    
        > h1{
            font-size: 1.5rem;
            margin: 8px;
        }
    }
}