@use 'GlobalVariables';

.canvas-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;

    width: 500px;
    min-height: 500px;
    max-height: 500px;

    border: 4px solid GlobalVariables.$primary-color;
    border-radius: 4px;
}

.drawing-canvas{
    width: 100%;
    height: 500px;
}

.button-row{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    max-width: 125px;
}

.drawing-tools{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.pen-selector{
    position: absolute;
    top: -115%;

    display: flex;

    border: 2px solid GlobalVariables.$text-color;
    border-radius: 24px;
    
    background-color: GlobalVariables.$bg-color;
}


@media (max-width: 768px), (max-height: 768px) {
    .canvas-container{
        width: 400px;
        min-height: 400px;
        max-height: 400px;
    }
}


@media (max-width: 576px), (max-height: 576px) {
    .canvas-container{
        width: 300px;
        min-height: 300px;
        max-height: 300px;
    }
}