@use 'GlobalVariables';

.canvas-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;

    width: 500px;
    min-height: 500px;
    max-height: 500px;

    border: 4px solid GlobalVariables.$primary-color;
    border-radius: 4px;
}

.drawing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    max-width: 125px;
}

// .drawing-tools{
//     border: 2px solid GlobalVariables.$text-color;

//     width: 256px;
//     height: 55%;
// }


@media (max-width: 768px), (max-height: 768px) {
    .canvas-container{
        width: 400px;
        min-height: 400px;
        max-height: 400px;
    }
}


@media (max-width: 576px), (max-height: 576px) {
    .canvas-container{
        width: 300px;
        min-height: 300px;
        max-height: 300px;
    }
}