@use 'GlobalVariables';

.following{
    width: 100%;
    overflow-y: hidden;
    margin: 8px
}

.follow-card{
    @extend %purple-content;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 80%;
    margin: 8px auto;

    > h2{
        margin: 8px;
        color: GlobalVariables.$text-color-2;
    }
}