$primary-color: #C24BD6;
$primary-color-light: #ec83ff;
$bg-color: #FFFFFF;
$text-color: #9E9E9E;

%shadow{
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.25);
}

%even-shadow{
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.25);
}