@use 'GlobalVariables';

.home-container{
    @extend %flex-center;
    flex-direction: column;
    
    width: clamp(175px, 50%, 300px);
}

.home-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
}

.feed{
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 30px;
}

.posts-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-bottom: 30px;
    align-items: center;
    margin: auto
}

.home-nav{
    @extend %purple-content;
    margin: 16px 8px;
    font-size: 1rem;
    max-width: none;
}

.home-nav:hover{
    background-color: GlobalVariables.$hover-color;
}

.home-buttons{
    width: 100%;

    display: flex;
    justify-content: space-between;
}