.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: clamp(175px, 50%, 300px);
}

.home-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    > button{
        margin: 8px;
    }
}

.feed{
    width: 100%;
}

.posts-container{
    width: fit-content;
    margin: auto;
    margin-top: 30px;
}