@use 'GlobalVariables';

.post{
    display: flex;
    flex-direction: column;

    border-radius: 4px;
    @extend %even-shadow;

    overflow: hidden;

    margin: 8px;
    width: fit-content;

    border-bottom: 8px solid GlobalVariables.$primary-color;
}

.post-content{
    width: auto;
    min-width: 500px;
    min-height: 500px;
    background-color: GlobalVariables.$canvas;
}

.post-info{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: GlobalVariables.$primary-color;

    h3{
        color: GlobalVariables.$text-color-2;
        font-size: 1.5rem;
        text-align: left;
        overflow: hidden;
    }

    > .author-info{
        @extend %flex-center;

        > .round-button{
            border: 1px solid white;
        }
    }
}

.stars{
    $size: 50px;

    position: relative;
    @extend %flex-center;

    width: $size;
    height: $size;

    margin: 8px;

    border-radius: 50%;
    > .star-part{ 
        position: absolute;
        width: 100%;
    }

    > div{
        @extend %flex-center;
        height: 100%;
        > h3{
            margin-top: 5px;
            font-size: 1.4rem;
            
            text-align: center;

            text-shadow: 1px 1px rgba(0, 0, 0, 0.25);

            color: GlobalVariables.$text-color;
        }
    }
}

.stars:hover{
    background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 576px), (max-height: 576px) {
    .post-content{
        width: 300px;
        min-width: 300px;
        min-height: 300px;
    }

    .post-info{
        h3{
            max-width: 170px;
        }
    }

    .post{
        width: 300px;
    }
}