@use 'GlobalVariables';

.post{
    border-radius: 4px;

    @extend %even-shadow;

    overflow: hidden;

    margin: 64px 0;
}

.post-content{
    width: auto;
}

.post-info{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: GlobalVariables.$primary-color;

    h1{
        color: GlobalVariables.$bg-color;
        font-size: 1.5rem;
        text-align: left;
    }

    > .author-info{
        display: flex;
        align-items: center;

        > .round-button{
            border: 1px solid white;
        }
    }
}

.profile-pic{
    width: 48px;
}

.stars{
    $size: 50px;

    display: grid;

    width: $size;
    height: $size;

    margin: 8px;

    > .star-part{
        grid-column: 1;
        grid-row: 1;
    
        margin: auto;

        width: 100%;
    }

    > div{
        height: 12px;

        > h1{
            font-size: 1.4rem;
            
            text-align: center;

            text-shadow: 1px 1px rgba(0, 0, 0, 0.25
            );
        }
    }
}

@media only screen and (min-width: 576px) {
    .post-content{
        width: 512px;
    }
}

@media only screen and (max-height: 576px){
    .post-content{
        width: 256px;
    }
}