@use 'GlobalVariables';

.post{
    display: flex;
    flex-direction: column;

    border-radius: 4px;
    @extend %even-shadow;

    overflow: hidden;

    margin: 8px auto;
    width: fit-content;

    background-color:gainsboro;
}

.post-content{
    width: auto;
    background-color: white;
}

.post-info{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: GlobalVariables.$primary-color;

    h1{
        color: GlobalVariables.$text-color-2;
        font-size: 1.5rem;
        text-align: left;
        overflow: hidden;
    }

    > .author-info{
        display: flex;
        align-items: center;

        > .round-button{
            border: 1px solid white;
        }
    }
}

.profile-pic{
    width: 48px;
}

.stars{
    $size: 50px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: $size;
    height: $size;

    margin: 8px;

    border-radius: 50%;
    > .star-part{ 
        position: absolute;
        width: 100%;
    }

    > div{
        height: 12px;

        > h1{
            font-size: 1.4rem;
            
            text-align: center;

            text-shadow: 1px 1px rgba(0, 0, 0, 0.25
            );
        }
    }
}

@media (max-width: 576px), (max-height: 576px) {
    .post-content{
        width: 300px;
    }

    .post-info{
        h1{
            max-width: 170px;
        }
    }

    .post{
        width: 300px;
    }
}