@use 'GlobalVariables';

.profile-container{
    width: 100%;
    padding-top: GlobalVariables.$header-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

.content-container{
    display: flex;
    align-items: flex-start
}

.profile-block{
    @extend %purple-content;

    margin: 16px 4px 0 4px;

    > button{
        margin: 8px;
    }
}

.profile-image{
    background-color: GlobalVariables.$canvas;
}

.image-frame{
    width: 256px;
    height: 256px;
    margin: 16px;

    border-radius: 50%;
    @extend %shadow;
    overflow: hidden;
    display: flex;
}

.history{
    @extend %flex-center;
    flex-direction: column;
    margin: 8px 0;
    min-width: 500px;
}

@media (max-width: 1024px) {
    .content-container{
        align-items: center;
        flex-direction: column;
    }

    .history{
        min-width: none;
    }
}