@use 'GlobalVariables';

.profile-container{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-block{
    height: 256px;
    @extend %purple-content;
    margin-top: 30px;

    > button{
        margin: 8px;
    }
}

.profile-image{
    width: 100%;
    height: 100%;
    background-color: GlobalVariables.$canvas;
}

.image-frame{
    height: 90%;
    aspect-ratio: 1/1;
    margin: 16px;

    border-radius: 50%;
    @extend %shadow;
    overflow: hidden;
}

.history{
    display: flex;
    flex-direction: column;
    align-items: center;
}