/*
sass --watch src/Styling/SASS:src/Styling/CSS
*/

@use 'GlobalVariables';
@use 'Authentication';
@use 'PageCaps';
@use 'Home';
@use 'Post';
@use 'Drawing';
@use 'Profile';
@use 'Edit';
@use 'FollowCard';

*{
    margin: 0;
    padding: 0px;
    font-family: 'Gluten', cursive;
    font-weight: 400; //300, 400, 700
    color: GlobalVariables.$text-color;
}

html, body{
    height: 100%;
}

body{
    width: 100%;
    overscroll-behavior: contain;
    position: fixed;
    -webkit-overflow-scrolling: touch;
}

//---------------------------------------------------

button{
    border: none;
    border-radius: 1rem;
    @extend %button-font;
    
    width:75%;

    padding: 8px;

    color: GlobalVariables.$text-color-2;
    background-color: GlobalVariables.$primary-color;
}

button:hover{
    background-color: GlobalVariables.$hover-color;
    color: GlobalVariables.$bg-color;
}

button:active{
    scale: 0.9;
}

.round-button{
    $size: 48px;

    width: $size;
    height: $size;
    border-radius: calc($size/2);

    overflow: hidden;
    background-color: GlobalVariables.$canvas;

    margin: 8px;

    @extend %flex-center;

    @extend %even-shadow;

    > img{
        height: 200%;
    }
}

.white{
    background-color: white;
}

.white:hover{
    background-color: GlobalVariables.$hover-color-2;
}

//---------------------------------------------------

form{
    @extend %flex-center;
    flex-direction: column;
}

input{
    border: 1px solid GlobalVariables.$text-color;
    border-radius: 4px;
    background-color: GlobalVariables.$hover-color-2;

    height: 1.5rem;

    margin: 0 0 8px 0;
    padding: 0 4px;

    font-family: 'Jaldi', sans-serif;
}

input:focus{
    outline: none;
    border: 1px solid GlobalVariables.$primary-color;  
}

//---------------------------------------------------

// react-router's <Link> counts as an <a>
a{
    margin: 16px;
}

h1{
    text-align: center;
    margin-top: 30px;
}

//---------------------------------------------------

.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;

    background-color: GlobalVariables.$bg-color;
    padding-bottom: 64px;
}

.page{
    display: flex;
    justify-content: center;

    height: 100%;
}

//---------------------------------------------------

@media only screen and (min-width: 600px) {
    input{
        width: 200px;
        height: 2rem;
    }
}

@media only screen and (max-height: 370px){
    input{
        width: auto;
        height: 1rem;
    }
    button {
        padding: 4px;
    }
}