/*
sass --watch src/Styling/SASS:src/Styling/CSS
*/

@use 'GlobalVariables';
@use 'Authentication';
@use 'pageCaps';
@use 'Home';
@use 'Post';
@use 'Drawing';

*{
    margin: 0;
    padding: 0px;
    font-family: 'Gluten', cursive;
    font-weight: 400; //300, 400, 700
    color: GlobalVariables.$text-color;
}

//---------------------------------------------------

button{
    border: 1px solid GlobalVariables.$primary-color;
    border-radius: 1rem;

    width:75%;

    padding: 8px;

    background-color: GlobalVariables.$bg-color;
}

button:hover{
    background-color: GlobalVariables.$primary-color;
    color: GlobalVariables.$bg-color;
}

button:active{
    background-color: GlobalVariables.$primary-color-light;
    border: 1px solid GlobalVariables.$primary-color-light;
    scale: 0.95;
}

.round-button{
    $size: 48px;

    width: $size;
    height: $size;
    border-radius: calc($size/2);

    overflow: hidden;

    margin: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    @extend %shadow;
}

//---------------------------------------------------

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    border: 1px solid GlobalVariables.$text-color;
    border-radius: 4px;

    height: 1.5rem;

    margin: 0 0 8px 0;
    padding: 0 4px;

    font-family: 'Jaldi', sans-serif;
}

input:focus{
    outline: none;
    border: 1px solid GlobalVariables.$primary-color;  
}
//---------------------------------------------------

// react-router's <Link> counts as an <a>
a{
    margin: 16px;
}

//---------------------------------------------------

.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
}

.page{
    display: flex;
    justify-content: center;

    height: 100%;

    overflow-y: scroll;
}

//---------------------------------------------------

@media only screen and (min-width: 600px) {
    input{
        width: 200px;
        height: 2rem;
    }
}

@media only screen and (max-height: 370px){
    input{
        width: auto;
        height: 1rem;
    }
    button {
        padding: 4px;
    }
}