.image-frame {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.round-button, .post, .page-cap, .main-menu {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.edit-pic, .edit-name, .profile-block {
  margin: 16px 0;
  padding: 8px;
  height: fit-content;
  border-radius: 4px;
  border-bottom: 8px solid #6f36da;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #4e3a86;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button, label {
  font-size: 0.8rem;
}

.auth-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.auth-component > h1 {
  margin: 16px;
}

@media only screen and (min-width: 600px) {
  .auth-component > h1 {
    font-size: 2rem;
    margin: 16px;
  }
}
@media only screen and (max-height: 370px) {
  .auth-component > h1 {
    font-size: 1.5rem;
    margin: 8px;
  }
}
.page-cap {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 4px;
  background-color: #6f36da;
}
.page-cap > h1 {
  color: #f0f0f0;
}
.page-cap > button {
  z-index: 1;
}

.main-menu {
  background-color: #6f36da;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  padding-top: 64px;
  width: fit-content;
  height: 100vh;
  min-height: 240px;
}
.main-menu > li {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 16px;
  width: 250px;
  font-size: 2rem;
  color: #f0f0f0;
  border-top: 1px solid #f0f0f0;
}
.main-menu > li:hover {
  background-color: #965ffa;
}
.main-menu > li:active {
  background-color: #4e3a86;
}
.main-menu .li-last {
  border-bottom: 1px solid #f0f0f0;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(175px, 50%, 300px);
}

.home-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.home-buttons-container > button {
  margin: 8px;
}

.feed {
  width: 100%;
}

.posts-container {
  width: fit-content;
  margin: auto;
  margin-top: 30px;
}

.post {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  margin: 8px;
  width: fit-content;
  border-bottom: 8px solid #6f36da;
}

.post-content {
  width: auto;
  background-color: rgba(255, 255, 255, 0.9);
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6f36da;
}
.post-info h3 {
  color: #f0f0f0;
  font-size: 1.5rem;
  text-align: left;
  overflow: hidden;
}
.post-info > .author-info {
  display: flex;
  align-items: center;
}
.post-info > .author-info > .round-button {
  border: 1px solid white;
}

.profile-pic {
  width: 48px;
}

.stars {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
}
.stars > .star-part {
  position: absolute;
  width: 100%;
}
.stars > div {
  height: 12px;
}
.stars > div > h3 {
  font-size: 1.4rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

@media (max-width: 576px), (max-height: 576px) {
  .post-content {
    width: 300px;
  }
  .post-info h3 {
    max-width: 170px;
  }
  .post {
    width: 300px;
  }
}
.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  min-height: 500px;
  max-height: 500px;
}

.drawing-canvas {
  width: 100%;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 4px solid #6f36da;
  border-radius: 4px;
  margin-top: 30px;
}

.button-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  max-width: 125px;
}

.drawing-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pen-color {
  position: absolute;
  top: -430%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #9E9E9E;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
}

.pen-size {
  position: absolute;
  top: -155%;
  padding: 8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #9E9E9E;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 768px), (max-height: 768px) {
  .canvas-container {
    width: 400px;
    min-height: 400px;
    max-height: 400px;
  }
}
@media (max-width: 576px), (max-height: 576px) {
  .canvas-container {
    width: 300px;
    min-height: 300px;
    max-height: 300px;
  }
}
.profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-block {
  height: 256px;
  margin-top: 30px;
}

.profile-image {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.image-frame {
  height: 90%;
  aspect-ratio: 1/1;
  margin: 16px;
  border-radius: 50%;
  overflow: hidden;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-name > div, .edit-pic > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.edit-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.edit-pic {
  width: 100%;
}
.edit-pic > div > * {
  margin: 0 8px;
  width: fit-content;
}

.edit-name {
  width: 100%;
}
.edit-name > div {
  flex-direction: column;
  width: 100%;
}
.edit-name > div > input {
  background-color: #383438;
  width: 100%;
  border: none;
}

#upload {
  display: none;
}

label {
  border: none;
  border-radius: 1rem;
  width: 75%;
  padding: 8px;
  color: #f0f0f0;
  background-color: #6f36da;
  text-shadow: none;
}

label:hover {
  background-color: #965ffa;
  color: #383438;
}

label:active {
  scale: 0.9;
}

/*
sass --watch src/Styling/SASS:src/Styling/CSS
*/
* {
  margin: 0;
  padding: 0px;
  font-family: "Gluten", cursive;
  font-weight: 400;
  color: #9E9E9E;
}

button {
  border: none;
  border-radius: 1rem;
  width: 75%;
  padding: 8px;
  color: #f0f0f0;
  background-color: #6f36da;
}

button:hover {
  background-color: #965ffa;
  color: #383438;
}

button:active {
  scale: 0.9;
}

.round-button {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: white;
}

.white:hover {
  background-color: #dddddd;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: 1px solid #9E9E9E;
  border-radius: 4px;
  background-color: #dddddd;
  height: 1.5rem;
  margin: 0 0 8px 0;
  padding: 0 4px;
  font-family: "Jaldi", sans-serif;
}

input:focus {
  outline: none;
  border: 1px solid #6f36da;
}

a {
  margin: 16px;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #383438;
  overflow-y: hidden;
}

.page {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y: scroll;
}

footer {
  height: 256px;
  width: 100%;
  margin-top: 256px;
  background-color: #6f36da;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  input {
    width: 200px;
    height: 2rem;
  }
}
@media only screen and (max-height: 370px) {
  input {
    width: auto;
    height: 1rem;
  }
  button {
    padding: 4px;
  }
}

/*# sourceMappingURL=MainStyles.css.map */
